.Container {
    display: grid;
    padding: 2em 6em;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.5em;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.ImageGridItem {
    height: 30em;
    width: 30em;
    position: relative;
    overflow: hidden;
    scale: 1;
}

.ImageGridItem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, 0);

}

.ImageGridItem img:hover {
    cursor: zoom-in;
}

/* Mobile */
@media (max-width: 768px) {
    .Container {
        display: grid;
        padding: 1em inherit;
        grid-template-columns: 1fr;
        row-gap: 2em;
        column-gap: 1em;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .ImageGridItem {
        height: 18em;
        width: 18em;
        position: relative;
        overflow: hidden;
    }

    .ImageGridItem img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(0, 0);
    }

    .ImageGridItem img:hover {
        cursor: zoom-in;
    }

}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}



@media (min-width: 1840px) {}