.EmployeeContainer {}

.TitleSection h1 {
    padding-left: 1em;
}

.DescriptionContainer p {
    width: 80%;
    hyphens: auto;
    padding-bottom: 4em;
    transform: translateY(-2em);
}

.TeamSubtitle {
    padding: 0 0 4em 2em;
}

.EmployeeContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4em;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {
    .EmployeeContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2em;
        padding-bottom: 2em;
    }

    .DescriptionContainer p {
        width: 100%;
        text-align: justify;
        padding-bottom: 0em;
        transform: translateY(-4em);
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}