.Main {
    padding-top: 7em;
    min-height: calc(100svh - var(--headerheight));
    overflow-y: hidden;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 700px) {
    .Main {
        padding-top: 4em;
        min-height: calc(100svh - var(--headerheight));
        overflow-y: hidden;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}