.Container {
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    background-color: white;
}

.ProjectsContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    background-color: white;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    padding: 2em
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {

    .Container {
        padding-left: 1em;

    }

    .ProjectsContainer {
        padding: 1em
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}