.Container {
    display: flex;
    width: fit-content;
    flex-direction: row;
    height: auto;
    gap: 0.5em;
    padding-left: 3em;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {

    .Container {
        padding-left: 1em;
        height: 4em;

    }

    .ProjectsContainer {
        padding: 1em
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}