.HeadingContainer {
    display: flex;
    gap: 0.5em;
}

.IndexContainer {
    font-size: 0.7em;
}

.LegendContainer {
    display: flex;
    gap: 4px;
    font-size: 0.8em;
    color: var(--lightgrey);
}

.ImageContainer {
    display: flex;
}

.ImageContainer img {
    max-height: 40em;
    width: auto;

}

.LinksContainer {
    padding-top: 2em;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.LinkContainer {
    display: flex;
    gap: 1em;
    font-size: 0.7rem;
    transition: transform 0.2s var(--bezier);
    padding-top: 0.5em;
    width: fit-content;

}

.LinkContainer:hover {
    transform: translateX(0.5em);
}

.LinkContainer a {
    display: flex;
    gap: 10px;
    padding-left: 1.3em;
}

.LinkContainer img {
    height: 8px;
    width: 8px;
}

.Description {
    width: 80%;
    text-align: justify;
    hyphens: auto;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

    .HeadingContainer {
        display: flex;
        gap: 0.5em;
    }

    .IndexContainer {
        font-size: 0.7em;
    }

    .LegendContainer {
        display: flex;
        gap: 4px;
        font-size: 0.8em;
        color: var(--lightgrey);
    }

    .ImageContainer {
        display: flex;
    }

    .ImageContainer img {
        max-height: 40em;
        width: auto;

    }

    .LinksContainer {
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    .LinkContainer {
        display: flex;
        align-items: center;
        gap: 0.5em;
        transition: transform 0.2s var(--bezier)
    }

    .LinkContainer:hover {
        transform: translateX(0.5em);
    }

    .LinkContainer a {
        display: flex;
        gap: 10px;
        font-size: 0.8em;
    }

    .LinkContainer img {
        height: 8px;
        width: 8px;
    }

    .Description {
        padding-top: 2em;
        width: 100%;
        text-align: justify;
        hyphens: auto;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}