.ProjectsGridContainer {
    width: 100vw;
    max-width: 100vw;
    overflow: scroll;
    height: fit-content;


    padding: 0 2em 4em 4em;
}

.GridContainer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 2em;
    justify-items: center;
}

.GridItem {
    height: 28em;
    width: 28em;
    position: relative;
    overflow: hidden;
}

.GridItem:hover .ProjectInfo {
    transform: translateY(0);
}

.ProjectIndex {
    font-size: 0.5em !important;
}

.ProjectInfo {
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    height: var(--project_info_height);
    width: 100%;
    z-index: 2;
    transform: translateY(100%);
    transition: transform 0.2s var(--bezier);
}

.ProjectInfo h1 {
    font-size: 1em;
}

.ProjectDescription {
    font-size: 0.7em;
}

.Anchor {
    display: flex;
    gap: 1em;
    font-size: 0.6em;
    transition: transform 0.2s var(--bezier);
    padding-top: 0.5em;
}

.Anchor img {
    height: 7px;
    width: 7px;
}


.Anchor:hover {
    transform: translateX(var(--linkTranslateX))
}

.ArrowContainer {
    background-color: red;
}

.ImageContainer {
    height: 28em;
    width: 28em;
    overflow: hidden;
}

.ImageContainer img {
    height: 28em;
    width: auto;
    object-fit: contain;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}