.TitleSection h1 {
    padding-left: 1em;
}

.DescriptionContainer p {
    width: 80%;
    hyphens: auto;
    padding-bottom: 4em;
    transform: translateY(-4em);
}

.ContactSection {
    display: flex;
    transform: translateY(-8em);
}

.LinksContainer {
    height: fit-content;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-items: center;
    row-gap: 2em;
    height: fit-content;
    padding-top: 1.5em;
}


.LinksContainer:nth-of-type(2) {
    padding-bottom: 4em;
}


.FormContainer {}

.Form {
    gap: 2em;
    display: flex;
    flex-direction: column;
}

.FormUpperSection,
.FormLowerSection {

    display: flex;
    gap: 2em;
}

.Label {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.LabelWithStar {
    display: flex;
    gap: 2px;
}

.Input {
    width: 30em;
    padding: 0.5em;
    font-family: monospace;
}

.Textarea {
    height: 8em;
    padding: 0.5em;
}

.CheckboxContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 0.7em;
    color: var(--lightgrey)
}

.CheckboxContainer a {
    text-decoration: underline;
}


.CheckboxContainer label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.Button {
    width: 8em;
    padding: 0.5em 0;
    align-self: flex-end;
    transition: color 0.2s var(--bezier), background-color 0.2s var(--bezier);
    border: 1px solid black;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.Button:hover .SendingIndicator,
.Button:hover .InnerIndicator {
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.SendingIndicator {
    height: 1.3em;
    width: 1.3em;
    background: linear-gradient(90deg, black 0%, white 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: IndicatorAnimation 1s infinite var(--bezier);
    display: flex;
    align-items: center;
    justify-content: center;
}

.InnerIndicator {
    height: 1.1em;
    width: 1.1em;
    background-color: white;
    border-radius: 50%;
}


@keyframes IndicatorAnimation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.Button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.AddressSection {
    display: flex;
    flex-direction: column;
    padding-left: 8em;
    justify-content: center;
    gap: 0.5em;
}

.AddressSection h3 {
    padding-bottom: 1em;
}

.Contact {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Email {
    display: flex;
    align-items: center;
    gap: 1em;
    transition: transform 0.2s var(--bezier);
    width: fit-content;
}

.Email:hover {
    transform: translateX(0.5em);
}

.Arrow {
    padding-left: 0.5em;
}

.Arrow img {
    height: 10px;
    width: 10px;
}

.RequiredStar {
    color: red;
    scale: 0.7;
}

.Subtitle {
    padding-left: 2em;
    padding-bottom: 2em;
}

.Title {
    padding-top: 2em;
}

.Title h3 {
    text-transform: none;
}







/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

    .TitleSection h1 {
        padding-left: 1em;
    }

    .DescriptionContainer p {
        width: 80%;
        hyphens: auto;
        padding-bottom: 4em;
        transform: translateY(-4em);
    }

    .ContactSection {
        transform: translateY(-4em);
        flex-direction: column;
    }

    .FormContainer {}

    .Form {
        gap: 1em;
        display: flex;
        flex-direction: column;
    }

    .FormUpperSection,
    .FormLowerSection {

        display: flex;
        gap: 1em;
        flex-direction: column;
    }

    .Label {
        font-size: 0.8em;
    }

    .LabelWithStar {
        display: flex;
        gap: 2px;
    }

    .Input {
        width: 100%;
        padding: 0.5em;
        font-family: monospace;
    }

    .Textarea {
        height: 6em;
        padding: 0.5em;
    }


    .AddressSection {
        display: flex;
        flex-direction: column;
        padding-left: 0em;
        padding-top: 2em;
        justify-content: center;
        gap: 0.5em;
    }


    .Email {
        display: flex;
        align-items: center;
        gap: 1em;
        transition: transform 0.2s var(--bezier);
        width: fit-content;
    }

    .Email:hover {
        transform: translateX(0.5em);
    }

    .Arrow {
        padding-left: 0.5em;
    }

    .Arrow img {
        height: 8px;
        width: 8px;
    }

    .RequiredStar {
        color: red;
        padding-left: 1px;
        font-size: 0.8em;
    }

    .Subtitle {
        padding-top: 3em;
        padding-left: 1em;
        padding-bottom: 2em;
    }

    .Title {
        padding-top: 2em;
    }

    .Title h3 {
        text-transform: none;

    }

    .LinksContainer {
        grid-template-columns: 100%;
        row-gap: 1em;
    }

    .LinksContainer:nth-of-type(2) {
        padding-bottom: 2em;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}