.TitleSection h1 {
    padding-left: 1em;
}

.DescriptionContainer p {
    width: 80%;
    hyphens: auto;
    padding-bottom: 4em;
    transform: translateY(-4em);
}

.ContactSection {
    display: flex;
    transform: translateY(-8em);
}

.FormContainer {}

.Form {
    gap: 2em;
    display: flex;
    flex-direction: column;
}

.FormUpperSection,
.FormLowerSection {

    display: flex;
    gap: 2em;
}

.Label {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.LabelWithStar {
    display: flex;
    gap: 2px;
}

.Input {
    width: 30em;
    padding: 0.5em;
}

.Textarea {
    height: 8em;
    padding: 0.5em;
}

.Button {
    width: 10em;
    padding: 0.5em 0;
    align-self: flex-end;
    transition: color 0.2s var(--bezier), background-color 0.2s var(--bezier)
}

.Button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.AddressSection {
    display: flex;
    flex-direction: column;
    padding-left: 8em;
    justify-content: center;
    gap: 0.5em;
}

.AddressSection h3 {
    padding-bottom: 1em;
}

.Contact {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Email {
    display: flex;
    align-items: center;
    gap: 1em;
}

.RequiredStar {
    color: red;
    margin-left: 2px;
}