.ImpressumContainer {
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100vh;
    width: 40vw;
    background-color: white;
    z-index: 100;
    padding: 4em;
    transform: translateX(60vw);
    transition: transform 0.6s var(--bezier);
    border-left: 0.5px solid black;

}

.ImpressumVisible {
    transform: translateX(0);
}

.Impressum {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100%;
    position: relative;
}



.Impressum h3 {
    padding-bottom: 0.2em;
}

.CrossContainer {
    position: absolute;
    height: 2em;
    width: 2em;
    top: 0;
    right: 0;
    transition: translate 0.2s var(--bezier)
}

.CrossContainer:hover {
    cursor: pointer;
    animation: slideLeftToRight 2s infinite var(--bezier)
}

@keyframes slideLeftToRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);

    }

    100% {
        transform: translateX(0);
    }
}

.CrossContainer img {
    height: 60%;
    width: 60%;
    transform: rotate(45deg);
    z-index: 101;
}

.ImpressumContainer a {
    font-size: 0.65em;
    text-transform: uppercase;
}

.ImpressumContainer p {
    width: 80%;
    text-align: justify;
    hyphens: auto;
    font-size: 0.8em;
}



.LinkContainer {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    gap: 0.5em;
}

.Link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s var(--bezier);
    width: 8em;
}

.Link:hover {
    transform: translateX(0.5em)
}

.AddressPara {
    font-size: 0.7em;
}

.LogoContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 2em;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {

    .ImpressumContainer {
        width: 100vw;
        padding: 2em;
        transform: translateX(100vw);
        transition: transform 0.6s var(--bezier);
        border-left: none;
    }

    .ImpressumVisible {
        transform: translateX(0);
    }

    .CrossContainer {
        position: absolute;
        height: 1.5em;
        width: 1.5em;
        top: 0;
        right: 0;
        transition: translate 0.2s var(--bezier)
    }


}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}



@media (min-width: 1840px) {}