.Links {
    border: 1px solid black;
    width: 28em;
    min-height: 9em;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BookLinks {

    width: fit-content;
    height: fit-content;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Links p {
    font-size: 0.8em;
    padding-top: 0.2em;
}

.MainPara {
    display: flex;
    flex-direction: column;
}

.LinkContainer,
.BookContainer {
    padding-top: 0.2em;
    width: fit-content;
    transition: transform 0.2s var(--bezier)
}

.OtherLinkContainer {
    padding-top: 0.2em;
    width: fit-content;
}

.BookContainer {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.LinkContainer:hover {
    transform: translateX(0.5em)
}

.LinkContainer a,
.BookContainer a {
    font-size: 0.7em;
    display: flex;
    gap: 1em;
}

.AwardsLinks {
    display: flex;
    align-items: center;
    width: 20em;
    justify-content: space-between;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {

    .Links {
        border: 1px solid black;
        width: 100%;
        height: 9em;
        padding: 1em 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Links p {
        font-size: 0.8em;
        padding-top: 0.2em;
        width: 100%;
        text-align: justify;
        hyphens: auto;
    }

    .LinkContainer {
        padding-top: 0.2em;
        width: fit-content;
        transition: transform 0.2s var(--bezier)
    }

    .LinkContainer:hover {
        transform: translateX(0.5em)
    }

    .LinkContainer a {
        font-size: 0.7em;
        display: flex;
        gap: 1em;
    }

    .AwardsLinks {
        display: flex;
        align-items: center;
        width: 20em;
        justify-content: space-between;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}



@media (min-width: 1840px) {}