:root {

  /* general stuff Values */

  font-size: 16px;
  --semibold: 600;
  --bold: 700;
  --title: 1.3rem;
  --subtitle: 1.2rem;
  --bezier: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --buttonbezier: cubic-bezier(0.455, .03, 0.15, 1.05);
  --lightgrey: #A7A7A7;
  --linkTranslateX: 0.5rem;
  --title_mobile: 1rem;
  --subtitle_mobile: 0.9rem;
  --anchor_size: 0.8em;


  --rowgapdesktop: 5.625em;


  /* Header and Footer Values */
  --fontsize-footer: 0.85rem;
  --headerheight: 3.5rem;



  /* Project Info Values */
  --project_info_height: 10em;
  --project_info_padding: 1.5em;
  --project_info_index: 0.7em;
  --anchor_padding_top: 1.5em;

  /* External Link Info Values */

  --project_link_height: 8em;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}


body {
  margin-top: var(--headerheight);
  position: relative;
}

html {}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--semibold);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: var(--title);
}

h2 {
  font-size: var(--subtitle);
}

h3 {
  font-size: 1em;
}

h4,
h5,
p,
a,
button {
  font-size: 1em;
}

h5 {
  font-weight: 400;
}

h6 {
  font-size: var(--project_info_index);
  font-weight: 400;
}

button {
  border: none;
  outline: none;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s var(--bezier);
}

a:hover {}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  * {
    line-height: 1.5;
  }

  h1 {
    font-size: var(--title_mobile);
  }

  h2 {
    font-size: var(--subtitle_mobile);
  }

  h3,
  h4,
  h5,
  p,
  a,
  button {
    font-size: 0.8em;
  }

  h5 {
    font-weight: 400;
    font-size: 0.8rem;
  }


}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}



@media (min-width: 1840px) {}