:root {
  font-size: 16px;
  --semibold: 600;
  --bold: 700;
  --title: 1.5rem;
  --subtitle: 1.25em;
  --fontsize-footer: 0.85em;
  --bezier: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --buttonbezier: cubic-bezier(0.455, .03, 0.15, 1.05);
  --rowgapdesktop: 5.625em;
  --lightgrey: #A7A7A7;
  --headerheight: 3.5em;
  --linkTranslateX: 0.5em;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}


body {
  margin-top: var(--headerheight);
  min-height: calc(100vh - var(--headerheight));
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--semibold);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: var(--title);
}

h2 {
  font-size: var(--subtitle);
}


h3,
h4,
h5,
p,
a,
button {
  font-size: 1em;
}

h5 {
  font-weight: 400;
  font-size: 1em;
}

button {
  border: none;
  outline: none;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s var(--bezier);
}

a:hover {}