:root {
  font-size: 16px;
  --semibold: 600;
  --title: 1.5em;
  --subtitle: 1.25em;
  --bezier: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --buttonbezier: cubic-bezier(0.455, .03, 0.15, 1.05);
  --rowgapdesktop: 5.625em;
  --lightgrey: #A7A7A7;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}


body {}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--semibold);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: var(--title);
}

h2 {
  font-size: var(--subtitle);
}

h3 {
  font-size: 1em;
}

h4,
p,
a,
button {
  font-size: 1em;
}

button {
  border: none;
  outline: none;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s var(--bezier);
}

a:hover {}