.Main {
    height: calc(100vh - var(--headerheight));
    width: 100vw;
    background-color: white;
    top: 0;
    opacity: 0;
}

.Main h1 {
    color: black;
    padding-top: 1em;
}

.AnimationContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.Animation {
    height: 5em;
    width: 20em;
    display: flex;
    justify-content: center;
    gap: 2vw;
    transform: translateY(-2em);
}

.Block {
    height: 1em;
    width: 1em;
    animation: rotation 2.1s ease-in-out infinite;
    background-color: black;
    border-radius: 50%;

}

.Block:nth-of-type(1) {}

.Block:nth-of-type(2) {
    animation-delay: 0.3s;
}

.Block:nth-of-type(3) {
    animation-delay: 0.6s;
}

.Block:nth-of-type(4) {
    animation-delay: 0.9s;
}

.Block:nth-of-type(5) {
    animation-delay: 1.2s;
}

.Block:nth-of-type(6) {
    animation-delay: 1.5s;
}

.Block:nth-of-type(7) {
    animation-delay: 1.8s;
}

@keyframes rotation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5em);
    }

    100% {
        transform: translateY(0);
    }
}