.TextContainer {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
}

.HeadingContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.4rem;

    justify-content: left;
    width: auto;
}

.Heading {}

.Description {
    padding-left: 1.3em;
}

.Index {
    font-size: 0.75rem;
    font-weight: var(--semibold);
}

.ImageContainer {
    max-width: 100vw;
    height: 80%;
    padding-top: 2em;
}

.ImageContainer img {

    height: 100%;
    width: 100%;
}

.AnchorContainer {
    padding-left: 1.7em;
    padding-top: 1em;
    display: inline-flex;
    gap: 1.5em;
    align-items: center;
    transition: transform 0.2s var(--bezier)
}

.AnchorContainer:hover {
    transform: translateX(var(--linkTranslateX))
}

.Anchor {
    font-size: 0.8em;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}