.Index {
    font-size: 0.65em;
}


.ImageContainer {
    padding-top: 3em;
    height: 100%;
    overflow: hidden;
}

.Hero {
    display: flex;
    align-items: center;
}

.Hero img {}

.LegendsContainer {
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding-left: 2em;
    gap: 3em;
}

.ProjectInformation h2 {
    padding-left: 2em;
}


.ProjectInformation p {
    line-height: 2;
    width: 80%;
    hyphens: auto;

}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

    .Index {
        font-size: 0.65em;
    }

    .ImageContainer {
        padding-top: 2em;
        width: 100%;
        height: auto;
    }

    .Hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Hero img {}

    .LegendsContainer {
        padding-top: 2em;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 0;
    }

    .ProjectInformation h2 {
        padding-left: 1em;
    }


    .ProjectInformation p {
        line-height: 1.7;
        width: 100%;
        text-align: justify;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}