.ImageContainer {
    padding-top: 3em;
    height: 100%;
    overflow: hidden;
}

.Hero {
    display: flex;
    align-items: center;
}

.Hero img {}

.LegendsContainer {
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin-left: 2em;
    gap: 3em;

}

.LegendsContainer p {
    font-size: 0.8em;

}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}