.CarouselContainer {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;

}

.Carousel {
    display: flex;
    flex-direction: row;
    width: fit-content;
    overflow: hidden;
}

.SlideContainer {
    height: calc(100vh - 8em);
    overflow: hidden;
    animation: slideAnimation 3s var(--bezier) infinite;
    max-width: 100vw;
}

.Slide {
    height: 80%;
    width: 100vw;
    border: 1px solid black;
}

.ProjectIndex {
    font-size: var(--project_info_index)
}

.Anchor {
    display: flex;
    gap: 1em;
    font-size: var(--anchor_size);
    transition: transform 0.2s var(--bezier);
    padding-top: 1em;
}


.Anchor:hover {
    transform: translateX(var(--linkTranslateX))
}

.ImageContainer {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ImageContainer img {
    width: 100vw;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    transform: translateY(-10vh)
}

.Overlay {
    position: absolute;
    width: 18rem;
    z-index: 100;
    right: 0;
    padding: 1rem;
    top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Overlay img {
    height: auto;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.TextOverlay {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    z-index: 10;
    overflow: hidden;
    width: 100vw;
    height: 6rem;
    line-height: 0;
    padding: 0;
    text-align: center;
}

.TextContainer {
    height: fit-content;
}

.TextOverlay h1 {
    color: white;
    font-size: 2.5rem;
}








/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {
    .CarouselContainer {
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .Carousel {
        display: flex;
        flex-direction: row;
        width: fit-content;
        overflow: hidden;
    }

    .SlideContainer {
        height: calc(100vh - 6em);
        overflow: hidden;
        animation: slideAnimation 3s var(--bezier) infinite;
        width: 100%;
    }

    .Slide {
        height: 80%;
        width: 100vw;
        border: 1px solid black;
    }

    .ImageContainer {
        height: calc(100vh - 6em);
        width: 100vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .ImageContainer img {
        width: auto;
        height: calc(100vh - 6em);
        object-fit: contain;
        object-position: center;
    }

    .Overlay {
        position: absolute;
        width: 10rem;
        z-index: 100;
        right: 0;
        padding: 1rem;
        top: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .TextOverlay {
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translateX(-50%);
        padding: 2rem;
        z-index: 10;
        overflow: hidden;
        width: 100vw;
        height: 4rem;
        line-height: 0;
        padding: 0;
        text-align: center;
    }

    .TextContainer {
        height: fit-content;
    }

    .TextOverlay h1 {
        color: white;
        font-size: 1.5rem;
    }


}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {
    .SlideContainer {
        height: calc(100vh - 6em);
        width: 100%;
    }

    .Slide {
        height: calc(100vh - 6em);
        width: 100vw;
    }

    .ImageContainer {
        height: calc(100vh - 6em);

    }

    .ImageContainer img {
        width: auto;
        height: calc(100vh - 6em);
    }
}