.Footer {
  width: 100vw;
  display: flex;
  padding: 2em 0 0 3em;
  background-color: white;
  font-size: var(--fontsize-footer);
}

.Footer * {}

.Main {
  width: 100%;
  display: flex;
}

.SubcontainerUpper {
  display: flex;
  flex-direction: column;
}

.SubcontainerUpper:nth-of-type(1) {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LogoContianer {}

.Logo {
  width: 15em;
  height: auto;
  padding-top: 0.3em;
}

.AddressContainer {
  padding-left: 2em;
  gap: 1em;
}

.AddressData p:nth-of-type(1) {
  font-weight: var(--semibold);
}

.ContactData {
  padding-top: 0.5em;
}

.Social {
  display: flex;
  gap: 1em;
  padding-top: 1em;
}

.Social img {
  height: 1.7em;
  width: auto;
}

.InternalContainer ul,
.ExternalContainer ul,
.AddressContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.LinkContainer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}


.Listobject {
  width: 10em;
  list-style-type: none;
  font-size: 0.9em;
}


.MapContainer {
  display: flex;
  align-items: flex-end;
}

.MapContainer img {
  height: 18em;
  width: auto;
}

.Link {
  display: flex;
  max-width: 8em;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s var(--bezier);

}



.Link:hover {
  transform: translateX(var(--linkTranslateX))
}

.Copyright {
  position: absolute;
  top: calc(100% - 2em);
  left: 3em;
  font-size: 1em;
  font-weight: var(--bold);
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {
  .Footer {
    flex-direction: column;
    padding: 1em;
    font-size: var(--fontsize-footer);
  }

  .Main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 2em;
  }

  .SubcontainerUpper {
    width: 100%;
  }


  .AddressContainer {
    padding-left: 0;
    gap: 1em;
  }

  .Social {
    display: flex;
    gap: 0.5em;
    padding-top: 1em;
  }


  .LinkContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
  }

  .LinkContainer section {
    width: 50%;
  }


  .MapContainer {
    position: absolute;
    padding-top: 0;
    right: 0;
    display: flex;

  }



  .Copyright {
    left: 1em;
    right: 1em;
    text-align: right;
    font-size: 0.8em;
  }



}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}