.Main {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 1em 2em;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: var(--headerheight);
}


.Navbar {
  width: 50%;
  position: relative;
}

.NavList {
  display: flex;
  align-items: center;
  gap: 4em;
  justify-content: flex-end;
  font-size: 0.85em;
}

.Item {
  list-style-type: none;
  padding: 0.2em 1em;
  border-left: 0.15em solid white;
  transition: border 0.2s var(--bezier), font-weight 0.2s var(--bezier);
  position: relative;
}

.Item:hover {
  cursor: pointer;
}

.Item::before {
  content: "";
  position: absolute;
  height: 0%;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: black;
  z-index: 11;
  transition: height 0.2s var(--bezier);
}

.Item:hover::before {
  height: 100%;
}

.ItemActive::before {
  height: 100%;
}


.Active {
  border-left: 1.5px solid black;
}


.NavListMobile {
  display: none;
}



.HamburgerContainer {
  display: none
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

  .Main {
    padding: 1em;
    justify-content: space-between;
  }

  .LogoContainer {
    width: fit-content;
  }

  .Logo {
    padding-top: 10px;
    width: 17em;
  }

  .Navbar {
    width: 50%;
    position: relative;
  }

  .NavList {
    display: none;
  }

  .NavListMobile {
    display: none;
  }


  .HamburgerContainer {
    display: flex;
    width: 1.5em;
    height: 1em;
  }

  .Hamburger {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .HamburgerLine {
    height: 0.25em;
    width: 100%;
    background-color: black;
  }


}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}