.Main {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 2em;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  z-index: 25;
  height: var(--headerheight);
  transition: background-color 0.2s var(--bezier), scale 0.2s var(--bezier);
}



.Main:hover {
  scale: 1;
}

.LogoContainer {
  display: flex;
  align-items: center;
  width: 50%;
}

.LogoContainer img {
  padding-top: 10px;
  width: 15em;
  height: auto;
}


.HeaderScrolled {
  scale: 0.8;
}

.Navbar {
  width: 50%;
  position: relative;
}

.NavList {
  display: flex;
  align-items: center;
  gap: 4em;
  justify-content: flex-end;
  font-size: 0.85em;
}

.Item {
  list-style-type: none;
  padding: 0.2em 1em;
  transition: border 0.2s var(--bezier), font-weight 0.2s var(--bezier);
  position: relative;
}

.Item:hover {
  cursor: pointer;
}

.Item::before {
  content: "";
  position: absolute;
  height: 0%;
  bottom: 0;
  left: 0;
  transform: translateX(-0.5em);
  width: 2px;
  background-color: black;
  z-index: 11;
  transition: height 0.2s var(--bezier);
}

.Item:hover::before {
  height: 100%;
}

.IsActive::before {
  height: 100%;
}


.NavListMobile {
  display: none;
}



.HamburgerContainer {
  display: none
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

  .Main {
    padding: 1em;
    justify-content: space-between;
  }

  .NavbarMobile {
    transform: translateY(-120vh);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s var(--bezier);

  }

  .IsOpen {
    transform: translateY(0vw);
  }

  .LogoContainer {
    width: fit-content;
  }

  .Logo {
    padding-top: 10px;
    width: 15em;
  }

  .Navbar {
    width: 50%;
    position: relative;
  }

  .NavList {
    display: none;
  }

  .NavListMobileContainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .NavListMobile {
    position: relative;
    gap: 3em;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 2em;
    padding-left: 1em;

  }

  .LogoContainerMobile {
    position: absolute;
    bottom: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .NavListMobileContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Item {
    display: flex;
    gap: 1em;
    transition: transform 0.2s var(--bezier);
  }

  .Link {
    font-size: 1.5em;
    font-weight: 600;
  }

  .Item:hover::before {
    height: 100%;
  }

  .IsActive {
    transform: translateX(2em);
  }

  .IsActive::before {
    height: 100%;
  }

  .HamburgerContainer {
    display: flex;
    width: 1.5em;
    height: 1.2em;
    z-index: 15;
  }

  .Hamburger {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
  }

  .HamburgerLine {
    height: 0.25em;
    width: 100%;
    background-color: black;
    transition: transform 0.2s var(--bezier), opacity 0.2s var(--bezier);
  }

  .Clicked:nth-of-type(1) {
    transform: rotate(45deg) translateY(10px);

  }

  .Clicked:nth-of-type(2) {
    opacity: 0;
  }

  .Clicked:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-10px);
  }


}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}