.Main {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 1em 2em;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: var(--headerheight);
}

.LogoContainer {
  display: flex;
  align-items: center;
  width: 50%;
}

.Logo {
  padding-top: 10px;
  width: 15em;
  height: auto;

}

.Navbar {
  width: 50%;
  position: relative;
}

.NavList {
  display: flex;
  align-items: center;
  gap: 4em;
  justify-content: flex-end;
  font-size: 0.85em;
}

.Item {
  list-style-type: none;
  padding: 0.2em 1em;
  border-left: 0.15em solid white;
  transition: border 0.2s var(--bezier), font-weight 0.2s var(--bezier);
}

.Item:hover {
  border-left: 0.15em solid black;
}



.Active {
  border-left: 1.5px solid black;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}



/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}