.Main {
    padding-bottom: 4em;
}

.HeroImageSection {
    display: flex;
}

.LegendContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    padding-left: 3em;
    font-size: 0.9em;
}

.LegendContainer p {

    width: 100%;
    hyphens: auto;
}

.ImageContainer {
    position: relative;
    max-height: 75vh;
    overflow: hidden;
    min-width: 70em;
    max-width: 70em;
    height: 70vh;
    object-fit: cover;
}

.ImageContainer img {
    position: absolute;
    height: auto;
    width: 100%;
}

.DescriptionContainer {
    width: 80%;
}

.DescriptionTitleContainer {
    padding: 2em 0 0.5em 0em;

}


.TextBlock p {
    hyphens: auto;
    text-align: justify;
    font-size: 0.9em;
}

.GallerySection {
    padding-top: 2em;
}

.GallerySection h3 {
    padding-left: 6em;
}



@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {
    .HeroImageSection {
        flex-direction: column;
    }

    .LegendContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        padding: 2em;
        font-size: 0.9em;
    }

    .LegendContainer p {
        width: 100%;
        hyphens: auto;
    }


    .ImageContainer {
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }

    .ImageContainer img {
        height: 100%;
        width: auto;
    }

    .DescriptionContainer {
        width: 100%;
        padding-top: 3em;
    }

    .DescriptionTitleContainer {
        padding: 1em 0 1em 2em;
    }

    .TextBlock p {
        hyphens: auto;
        text-align: justify;
        font-size: 0.8em;
    }

    .GallerySection {
        padding: 2em 2em 0 2em;
    }

    .GallerySection h3 {
        padding-left: 2em;
    }


}


/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {
    .HeroImageSection {
        flex-direction: column;
    }

    .LegendContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        padding: 2em;
        font-size: 0.9em;
    }

    .LegendContainer p {
        width: 100%;
        hyphens: auto;
    }


    .ImageContainer {
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }

    .ImageContainer img {
        height: 100%;
        width: auto;
    }

    .DescriptionContainer {
        width: 100%;
        padding-top: 3em;
    }

    .DescriptionTitleContainer {
        padding: 1em 0 1em 2em;
    }

    .TextBlock p {
        hyphens: auto;
        text-align: justify;
        font-size: 0.9em;
    }

    .GallerySection {
        padding: 2em 2em 0 2em;
    }

    .GallerySection h3 {
        padding-left: 2em;
    }

}



@media (min-width: 1840px) {}