.Container {
    display: flex;
    gap: 0.5em;
    width: fit-content;
    width: 20em;
    position: relative;
    transition: transform 0.2s var(--bezier);

}

.Container::before {
    content: "";
    position: absolute;
    transform: translateX(-20px);
    background-color: black;
    width: 3px;
    height: 100%;
    scale: 0;
    z-index: 10;
    transition: scale 0.2s var(--bezier);
    transform-origin: bottom;
}

.Container:hover::before {

    scale: 1;
}

.Container:hover {
    transform: translateX(1.5em);
    cursor: pointer;
}

.ImageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -70%);
    opacity: 0;
}


.ImageContainerVisible {
    opacity: 1;
}

.ImageContainer img {
    height: 30em;
    width: auto;
}

.Container h4 {
    font-size: 1.2em;
}

.HeadingContainer {
    display: flex;
    align-items: flex-start;
    width: 18em;
    justify-content: space-between;
}

.ArrowContainer {
    padding-top: 0.4em;
    padding-left: 1em;

}

.HeadingContainer img {
    height: 14px;
    width: 14px;
}

.TextContainer p {
    font-size: 0.8em;
}


.TextContainer a {
    font-size: 0.7em;
}

.IndexContainer p {
    font-size: var(--project_info_index);
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {
    .Container {
        display: flex;
        gap: 0.5em;
        width: 15em;
        position: relative;
        transition: transform 0.2s var(--bezier)
    }

    .Container:hover {
        transform: translateX(1em);
        cursor: pointer;
    }

    .Container h4 {
        font-size: 1em;
    }

    .HeadingContainer {
        width: 15em;
    }

    .ImageContainerVisible {
        display: none;
    }

    .ArrowContainer {
        padding-left: 1em;
    }

    .HeadingContainer img {
        height: 10px;
        width: 10px;
    }

    .TextContainer p {
        font-size: 0.7em;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}