.JobAdd {
    border: 1px solid black;
    width: 35em;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.JobAdd h2 {
    padding-top: 0.5em;
}

.VacancyIndex {
    font-size: 0.8em;
}

.VacancyDescription {
    padding-top: 0.5em;
}

.Link {
    display: flex;
    gap: 1em;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 0.5em;
    transition: transform .2s var(--bezier)
}

.Link:hover {
    transform: translateX(10px);
}

.Link a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;

}

.Link img {
    height: 9px;
    width: 9px;

}